body {
    background-color: rgb(225, 38, 138);
    font-family: 'Impact', sans-serif;
    background-image: url(/assets/sarahwallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Ensure it covers at least the full viewport height */
}

p {
    color : rgb(227, 31, 113);
}

t { 
    color = pink }